.feature {
  width: 500px;
  color: #fff;
  padding: 10px;
  font-family: monospace;
}
.feature_header {
  color: #003366;
  font-style: italic;
}
.feature_title {
  color: #dd2200;
}
.feature_what {
  color: #333333;
  padding-left: 35px;
}
.feature_who {
  color: #333333;
  padding-left: 45px;
}
.feature_why {
  color: #333333;
  padding-left: 35px;
}
.scenario {
  padding-top: 10px;
}
.scenario_header {
  color: #003366;
  font-style: italic;
padding-left: 20px;
padding-bottom: 5px;
}
.scenario_title {
  color: #dd2200;
}
.scenario_keyword {
  color: #0000dd;
text-align: left;
}
.scenario_step {
  color: #333333;
}
.scenario_link_keyword {
  color: #5d5dd2;
text-align: right;
}