
.feature {
  width: 500px;
  color: #fff;
  padding: 10px;
  font-family: monospace;
}

.feature .main_text {
  color: #61a95d;
}

.feature .header {
  color: #8da6ce;
  font-style: italic;
}

.feature .title {
  color: #ff6400;
}

.feature .keyword {
  color: #fbde2d;
}

.feature .link_keyword {
  color: #d8fa3c;
}

.feature .feature_header {
  float: left;
  padding-right: 15px;
}
.feature .feature_title {

}
.feature .feature_what {
  padding-left: 35px;
}
.feature .feature_who {
  padding-left: 45px;
}
.feature .feature_why {
  padding-left: 35px;
}
.feature .scenario {
  padding-top: 10px;
}
.feature .scenario_header {
  padding-left: 20px;
  padding-bottom: 5px;
}
.feature .scenario_title {
}
.feature .scenario_keyword {
  text-align: left;
}
.feature .scenario_step {
}
.feature .scenario_link_keyword {
  text-align: right;
}