<h2><%= t(:edit_info, :scope => [:user]) %></h2>

<% form_for @user do |form| %>
  <%= render :partial => '/users/form', :object => form %>
  <%= form.submit t(:update), :disable_with => t(:please_wait_dots) %>
<% end %>
