= step.hidden_field :keyword_id, :value => ScenarioStep::MAIN_KEYWORDS[stype], :index => stype
= step.text_field :instruction, :index => stype, :title => t(:instruction_step, :scope => [:help,:scenario]), :class => 'form_help'
= render :partial => '/sub_steps/substeps', :locals => { :stype => stype }