- content_for :js do
  :javascript
    var wordbook = #{json_audit_wordbook};
    var changes = #{@changes.to_json};
    function change_activity(audit)
    {
      o = "";
      o += "<div class='change_item'>";
      o += audit.created_at
      o += " | "
      o += wordbook[audit.object_type];
      o += " >> "
      o += wordbook[audit.attribute_id];
      o += ": "
      o += diffString(audit.before,audit.after);
      o += "</div>";
      return o;
    };

    jQuery.each
    (
      changes,
      function()
      {
        $('#changes').append(change_activity(this.audit));
      }
    );
#changes
  &nbsp;
