<p>
  <b>Title:</b>
  <%=h @story.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @story.description %>
</p>


<%= link_to 'Edit', edit_feature_story_path(@feature,@story) %> |
<%= link_to 'Back', feature_stories_path %>
