%html{html_attrs('en-en')}
  %head
    %meta{'http-equiv' => "content-type", 'content' =>"text/html; charset=utf-8"}
    %title CSM - Cucumber Story Manager
    = stylesheet_link_tag '960/reset.css', '960/text.css', '960/960.css', 'csm.css', :cache => 'layout'
  %body
    .container_16
      .grid_16
        = yield